<div>
  <h1><%= link_to job.title, job %></h1>
  <% if job.featured? %>
    <strong>Destaque</strong>
  <% end %>
  <dl>
    <dt>Empresa</dt>
    <dd><%= job.company.name%></dd>
    <dt>Categoria</dt>
    <dd><%= job.category%></dd>
    <dt>Local</dt>
    <dd><%= job.location%></dd>
  </dl>
</div>
