

<div class="row">
  <div class="col-md-9">
    <section class="jobs">
      <div class="row">
        <% @jobs.each do |job| %>
        <div class="col-md-6">
          <%= render job %>
        </div>
        <% end %>
      </div>
    </section>
  </div>

  <div class="col-md-3">
    <aside class="companies">
      <%= render partial: 'companies/companies_list', locals: {companies: @companies} %>
    </aside>
    <aside class="categories">
      <%= render partial: 'categories/categories_list', locals: {categories: @categories} %>
    </aside>
  </div>

</div>
