

<%= link_to 'Criar Vaga', new_job_path%>

<% @jobs.each do |job| %>
  <div>
    <h1><%= link_to job.title, job%></h1>
    <h2><%= job.company%></h2>
    <h2><%= job.location%></h2><p>
  </div>
<% end %>
